despliegue redhat/.env
.env
despliegue redhat/.terraform.lock.hcl
despliegue redhat/.terraform/
terraform-examples-v2
despliegue redhat/terraform.tfvars
despliegue redhat/terraform.tfstate
despliegue redhat/terraform.tfstate.backup
