despliegue redhat/.env
.env
despliegue redhat/.terraform.lock.hcl
despliegue redhat/.terraform/
terraform-examples-v2
despliegue redhat/terraform.tfvars
despliegue redhat/terraform.tfstate
despliegue redhat/terraform.tfstate.backup
Ejercicio 1/terraform.tfvars
Ejercicio 1/.terraform/providers/registry.terraform.io/hashicorp/aws/4.35.0/windows_amd64/terraform-provider-aws_v4.35.0_x5.exe
Ejercicio 1/.terraform/modules/modules.json
Ejercicio 1/.terraform.lock.hcl
Ejercicio 1/terraform.tfstate
Ejercicio 1/terraform.tfstate.backup
Ejercicio 1/.terraform.tfstate.lock.info
Ejercicio 2/.terraform.lock.hcl
Ejercicio 2/.terraform.tfstate.lock.info
Ejercicio 2/terraform.tfstate
Ejercicio 2/terraform.tfstate.backup
Ejercicio 2/terraform.tfvars
Ejercicio 2/.terraform/modules/modules.json
Ejercicio 2/.terraform/providers/registry.terraform.io/hashicorp/aws/4.35.0/windows_amd64/terraform-provider-aws_v4.35.0_x5.exe
Ejercicio 2/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/windows_amd64/terraform-provider-template_v2.2.0_x4.exe
Ejercicio 3/.terraform.lock.hcl
Ejercicio 3/terraform.tfstate
Ejercicio 3/terraform.tfstate.backup
Ejercicio 3/terraform.tfvars
Ejercicio 3/.terraform/modules/modules.json
Ejercicio 3/.terraform/providers/registry.terraform.io/hashicorp/aws/4.35.0/windows_amd64/terraform-provider-aws_v4.35.0_x5.exe
Ejercicio 3/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/windows_amd64/terraform-provider-template_v2.2.0_x4.exe
Ejercicio Final/.terraform.lock.hcl
Ejercicio Final/terraform.tfstate
Ejercicio Final/terraform.tfstate.backup
Ejercicio Final/terraform.tfvars
Ejercicio Final/.terraform/modules/modules.json
Ejercicio Final/.terraform/providers/registry.terraform.io/hashicorp/aws/4.35.0/windows_amd64/terraform-provider-aws_v4.35.0_x5.exe
Ejercicio Final/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/windows_amd64/terraform-provider-template_v2.2.0_x4.exe
Proyecto Final/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/windows_amd64/terraform-provider-template_v2.2.0_x4.exe
Proyecto Final/.terraform/providers/registry.terraform.io/hashicorp/null/3.1.1/windows_amd64/terraform-provider-null_v3.1.1_x5.exe
Proyecto Final/.terraform/providers/registry.terraform.io/hashicorp/aws/4.30.0/windows_amd64/terraform-provider-aws_v4.30.0_x5.exe
Proyecto Final/terraform.tfstate.backup
Proyecto Final/terraform.tfstate
Proyecto Final/.terraform.lock.hcl
Proyecto Final/terraform.tfvars
Ejercicio EKS/.terraform.lock.hcl
Ejercicio EKS/README.md
Ejercicio EKS/terraform.tfstate
Ejercicio EKS/terraform.tfstate.backup
Ejercicio EKS/terraform.tfvars
Ejercicio EKS/.terraform/modules/modules.json
Ejercicio EKS/.terraform/providers/registry.terraform.io/hashicorp/aws/4.36.1/windows_amd64/terraform-provider-aws_v4.36.1_x5.exe
Ejercicio EKS/.terraform/providers/registry.terraform.io/hashicorp/cloudinit/2.2.0/windows_amd64/terraform-provider-cloudinit_v2.2.0_x5.exe
Ejercicio EKS/.terraform/providers/registry.terraform.io/hashicorp/null/2.1.2/windows_amd64/terraform-provider-null_v2.1.2_x4.exe
Ejercicio EKS/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.14.0/windows_amd64/terraform-provider-kubernetes_v2.14.0_x5.exe
Ejercicio EKS/.terraform/providers/registry.terraform.io/hashicorp/random/3.4.3/windows_amd64/terraform-provider-random_v3.4.3_x5.exe
Ejercicio EKS/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/windows_amd64/terraform-provider-template_v2.2.0_x4.exe
Ejercicio EKS/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.3/windows_amd64/terraform-provider-tls_v4.0.3_x5.exe
Proyecto Final/terraform.tfvars
Ejercicio 4/.terraform/providers/registry.terraform.io/hashicorp/aws/4.37.0/windows_amd64/terraform-provider-aws_v4.37.0_x5.exe
Ejercicio 4/terraform.tfstate.backup
Ejercicio 4/terraform.tfstate
Ejercicio 4/.terraform.lock.hcl
Ejercicio 1/.terraform/terraform.tfstate
Ejercicio 3/.terraform/terraform.tfstate
Ejercicio 3/.terraform/providers/registry.terraform.io/hashicorp/aws/4.37.0/windows_amd64/terraform-provider-aws_v4.37.0_x5.exe
